#logo{
    background-image: url("https://bonnier-islands-prod.cdn.arcpublishing.com/resizer/uSdU9v2rauicUZveMQ0gw631_j8=/480x480/smart/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/HGQGRIADEZBQNGRATTDCTBWW5M.jpg");
    background-repeat:no-repeat;
    background-position: cover;
    width: 100%;
}