
h3,h1{
    font-family: Georgia, 'Times New Roman', Times, serif
    text-align:center;
}
body{
    font-style: italic;
    background-color: aquamarine;
    border-top-color : beige;
    top : 0;
    right : 0;
    left : 0;
    right : 0:
}
nav{
    margin-right:40%;
  }
  nav>ul>li{
    display:inline-block;
  }
nav>ul>li>a:{
    color:rgba(255, 255, 255, 0.733);
  }
nav>ul>li>a:hover{
    box-shadow:0 0 0 0.625em rgba(0, 0, 0 , 0.1),0 0 0.625em rgba(255, 255, 255, 0.6);
    color:rgba(0, 35, 122, 0.7);
  }
  .services,.activities{
      display: flex;
      flex: wrap;
  }
  #one,#three{ 
      float:right;
      margin-right:5%; 

  }
  #two,#four{
      float:left;
      margin-right: 5%;
  }