
h3,h1{
    font-family: Georgia, 'Times New Roman', Times, serif
    text-align:center;
}
body{
    font-style: italic
    background-color: aquamarine;
    border-top-color : beige;
    top : 0;
    right : 0;
    left : 0;
    right : 0:
}
nav{
    margin-right:40%;
  }
  nav>ul{
    text-align:right;
  }
  ul>li{
    display:inline-block;
  }
  ul>li>a:{
    padding:20%;
    text-decoration:none;
    color:rgba(255, 255, 255, 0.733);
  }
  ul>li>a:hover{
    box-shadow:0 0 0 0.625em rgba(0, 0, 0 , 0.1),0 0 0.625em rgba(255, 255, 255, 0.6);
    color:rgba(0, 35, 122, 0.7);
  }
  #one,#three,#five{
      float:right;
      width:50%;
  }
  #two,#four{
      float:left;
      width:50%;
  }